@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #353535;
  border-radius: 50%;
}

.is-active {
  transform: translateY(0);
  border-radius: 0 0 30px 30px;
}

.button-is-active {
  display: block;
}

.button-isnot-active {
  display: none;
}

