@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #353535;
  border-radius: 50%;
}

.is-active {
  transform: translateY(0);
  border-radius: 0 0 30px 30px;
}

.button-is-active {
  display: block;
}

.button-isnot-active {
  display: none;
}

.img-shadow {
  filter: drop-shadow(1px 6px 8px #A6907C);
}

.sm-img-shadow {
  filter: drop-shadow(1px 3px 5px #A6907C);
}

.card-shadow {
  box-shadow: 0px 0px 10px 0px  rgba(166,144,124,0.75);
  -webkit-box-shadow: 0px 0px 10px 0px  rgba(166,144,124,0.75);
  -moz-box-shadow: 0px 0px 10px 0px  rgba(166,144,124,0.75);
}
